/* Typography */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../static/heroku.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.berita h2 {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.berita,
.tentang,
.struktur,
.kontak,
.berita {
  margin: 20px;
}

.event {
  margin: 20px;
}
.event .row,
.dokumentasi .row,
.berita .row {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event .card,
.dokumentasi .card,
.berita .card {
  margin: 20px;
}
.event .card-body p {
  margin: 0px;
}

.event .card-body h5 {
  text-align: center;
  margin-top: -30px;
}

.gallery {
  margin: 30px;
  justify-content: center;
  border: #000000, 3px solid;
}

.kontak .row {
  display: flex;
  margin: 2rem;
  background-color: rgb(255, 255, 255);
}

.kontak .row iframe {
  flex: 1 1 10rem;
  width: 25%;
  height: 25%;
  object-fit: cover;
  margin-right: 20px;
}

.kontak ul {
}

.dokumentasi .row {
  text-align: center;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 24px;
}

a {
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Layout */
header {
  background-color: #ffffff;
  color: rgb(40, 39, 39);
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 20px;
}

.logo h1 {
  font-size: 36px;
  color: #000000;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
}

nav a:hover {
  border-bottom: 3px solid #337ab7;
}

main section {
  margin-bottom: 40px;
}

main h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main li {
  margin-bottom: 20px;
}

main li h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

main li p {
  margin: 0 0 10px;
}

main li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

main li a:hover {
  background-color: #23527c;
}

main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 3px;
}

/* Forms */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  display: block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
}

button[type="submit"]:hover {
  background-color: #23527c;
}

footer {
  background-color: white;
  text-align: center;
  padding: 0rem 0 0rem;
  margin-top: 3rem;
}
