<!DOCTYPE html>
<html>
<head>
	<title>Organisasi Himpunan Mahasiswa MSIB - Event</title>
	<link rel="stylesheet" type="text/css" href="../static/style1.css">
	<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
</head>
<body>
	<header>
		<header>
            <div class="logo">
                <img src="../static/logo.png" alt="Logo Himpunan Mahasiswa MSIB">
                <h1>Himpunan Mahasiswa MSIB</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="news.html">News</a></li>
                    <a href="login.html">Login</a>
                </ul>
            </nav>
        </header>
<main>
	
		
		<section class="event">
			<h2>Daftar Event</h2>
			<div class="row">
			  <div class="card" style="width: 18rem">
				<img
				  class="card-img-top"
				  src="../static/heroku.png"
				  alt="Card image cap"
				/>
				<div class="card-body">
				  <h5 class="card-title">Judul Event 1</h5>
				  <p>Deskrpisi Event 1</p>
				  <p>Tanggal: 15 Mei 2023</p>
				  <p>Waktu: 13.00 - 16.00</p>
				  <p>Tempat: Ruang Seminar MSIB</p>
				  <a
					href="https://docs.google.com/forms/d/1aCYk1Q2taehNlFunUP1wJ2k_C60dyMWZZWXscZrC8MY"
					class="btn btn-primary"
					>Daftar Sekarang</a
				  >
				</div>
			  </div>
	
			  <div class="card" style="width: 18rem">
				<img
				  class="card-img-top"
				  src="../static/heroku.png"
				  alt="Card image cap"
				/>
				<div class="card-body">
				  <h5 class="card-title">Judul Event 2</h5>
				  <p>Deskrpisi Event 2</p>
				  <p>Tanggal: 20 Mei 2023</p>
				  <p>Waktu: 08.00 - 12.00</p>
				  <p>Tempat: Lapangan MSIB</p>
				  <a
					href="https://docs.google.com/forms/d/1aCYk1Q2taehNlFunUP1wJ2k_C60dyMWZZWXscZrC8MY"
					class="btn btn-primary"
					>Daftar Sekarang</a
				  >
				</div>
			  </div>
	
			  <div class="card" style="width: 18rem">
				<img
				  class="card-img-top"
				  src="../static/heroku.png"
				  alt="Card image cap"
				/>
				<div class="card-body">
				  <h5 class="card-title">Judul Event 3</h5>
				  <p>Deskrpisi Event 3</p>
				  <p>Tanggal: 20 Mei 2023</p>
				  <p>Waktu: 08.00 - 12.00</p>
				  <p>Tempat: Lapangan MSIB</p>
				  <a
					href="https://docs.google.com/forms/d/1aCYk1Q2taehNlFunUP1wJ2k_C60dyMWZZWXscZrC8MY"
					class="btn btn-primary"
					>Daftar Sekarang</a
				  >
				</div>
			  </div>

			  <div class="card" style="width: 18rem">
				<img
				  class="card-img-top"
				  src="../static/heroku.png"
				  alt="Card image cap"
				/>
				<div class="card-body">
				  <h5 class="card-title">Judul Event 4</h5>
				  <p>Deskrpisi Event 4</p>
				  <p>Tanggal: 15 Mei 2023</p>
				  <p>Waktu: 13.00 - 16.00</p>
				  <p>Tempat: Ruang Seminar MSIB</p>
				  <a
					href="https://docs.google.com/forms/d/1aCYk1Q2taehNlFunUP1wJ2k_C60dyMWZZWXscZrC8MY"
					class="btn btn-primary"
					>Daftar Sekarang</a
				  >
				</div>
			  </div>

			  <div class="card" style="width: 18rem">
				<img
				  class="card-img-top"
				  src="../static/heroku.png"
				  alt="Card image cap"
				/>
				<div class="card-body">
				  <h5 class="card-title">Judul Event 5</h5>
				  <p>Deskrpisi Event 5</p>
				  <p>Tanggal: 15 Mei 2023</p>
				  <p>Waktu: 13.00 - 16.00</p>
				  <p>Tempat: Ruang Seminar MSIB</p>
				  <a
					href="https://docs.google.com/forms/d/1aCYk1Q2taehNlFunUP1wJ2k_C60dyMWZZWXscZrC8MY"
					class="btn btn-primary"
					>Daftar Sekarang</a
				  >
				</div>
			  </div>

			  <div class="card" style="width: 18rem">
				<img
				  class="card-img-top"
				  src="../static/heroku.png"
				  alt="Card image cap"
				/>
				<div class="card-body">
				  <h5 class="card-title">Judul Event 6</h5>
				  <p>Deskrpisi Event 6</p>
				  <p>Tanggal: 15 Mei 2023</p>
				  <p>Waktu: 13.00 - 16.00</p>
				  <p>Tempat: Ruang Seminar MSIB</p>
				  <a
					href="https://docs.google.com/forms/d/1aCYk1Q2taehNlFunUP1wJ2k_C60dyMWZZWXscZrC8MY"
					class="btn btn-primary"
					>Daftar Sekarang</a
				  >
				</div>
			  </div>
			</div>
			
		  </section>
	
	
</main>
<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>